<div id="quizManagerDetails">
  <div class="btn-group btn-header mb-2 mb-sm-4 overflow-auto d-flex flex-grow-1"
       data-toggle="buttons"
       role="navigation"
       [attr.aria-label]="'component.quiz_manager.details.aria.btn_group' | translate">
    <button type="button"
            class="btn btn-light"
            (click)="trackDetailsTarget('question-text')"
            [disabled]="!question?.TYPE"
            [queryParams]="queryParams"
            [routerLink]="['/quiz', 'manager', getQuizManagerDetailsRoutingTarget(), 'questionText']">
      <span class="d-none d-sm-block">{{'component.quiz_manager.details.question_text.long' | translate}}</span>
      <span class="d-block d-sm-none">{{'component.quiz_manager.details.question_text.short' | translate}}</span>
    </button>
    <button type="button"
            class="btn btn-light"
            (click)="trackDetailsTarget('answeroptions')"
            [disabled]="!question?.TYPE"
            [queryParams]="queryParams"
            [routerLink]="['/quiz', 'manager', getQuizManagerDetailsRoutingTarget(), 'answeroptions']">
      <span class="d-none d-sm-block">{{'component.quiz_manager.details.answeroptions.long' | translate}}</span>
      <span class="d-block d-sm-none">{{'component.quiz_manager.details.answeroptions.short' | translate}}</span>
    </button>
    <button type="button"
            class="btn btn-light"
            (click)="trackDetailsTarget('question-timer')"
            [disabled]="!question?.TYPE"
            [queryParams]="queryParams"
            [routerLink]="['/quiz', 'manager', getQuizManagerDetailsRoutingTarget(), 'countdown']">
      <span class="d-none d-sm-block">{{'component.quiz_manager.details.timer.long' | translate}}</span>
      <span class="d-block d-sm-none">{{'component.quiz_manager.details.timer.short' | translate}}</span>
    </button>
    <button type="button"
            class="btn btn-light"
            (click)="trackDetailsTarget('question-type')"
            [queryParams]="queryParams"
            [routerLink]="['/quiz', 'manager', getQuizManagerDetailsRoutingTarget(), 'questionType']">
      <span class="d-none d-sm-block">{{'component.quiz_manager.details.question_type.long' | translate}}</span>
      <span class="d-block d-sm-none">{{'component.quiz_manager.details.question_type.short' | translate}}</span>
    </button>
    <button type="button"
            *ngIf="environment.enableQuizPool"
            class="btn btn-light"
            (click)="trackDetailsTarget('tags')"
            [disabled]="!question?.TYPE"
            [queryParams]="queryParams"
            [routerLink]="['/quiz', 'manager', getQuizManagerDetailsRoutingTarget(), 'tags']">
      <span class="d-none d-sm-block">{{'component.quiz_manager.details.tags.long' | translate}}</span>
      <span class="d-block d-sm-none">{{'component.quiz_manager.details.tags.short' | translate}}</span>
    </button>
  </div>

  <div *ngIf="quizService.isAddingPoolQuestion"
       class="alert alert-info mb-2 mb-sm-4 btn-header">
    <span>{{'component.quiz_manager.details.pool-save-warning' | translate}}</span>
  </div>

  <div role="listitem"
       [attr.data-intro]="'component.quiz_summary.description.question_item' | translate">
    <div class="mb-2 question">
      <h4 *ngIf="!quizService.isAddingPoolQuestion">
        <span>{{'component.quiz_summary.question' | translate}}&nbsp;{{questionIndex + 1}}</span>:
      </h4>
      <p class="mb-0">
        <span>{{'component.quiz_summary.text' | translate}}:&nbsp;</span>
        <span *ngIf="question?.questionText"
              class="break-word"
              [innerHTML]="question?.questionText"></span>
        <span *ngIf="!question?.questionText">{{'component.quiz_summary.validation_errors.reasons.empty_question_text' | translate}}</span>
      </p>
      <p class="mb-0">
        <span>{{'component.quiz_summary.type' | translate}}:&nbsp;</span>
        <span *ngIf="!question?.TYPE">{{'component.quiz_summary.validation_errors.reasons.empty_question_type' | translate}}</span>
        <span *ngIf="question?.TYPE">{{question?.translationReferrer() | translate}}</span>
      </p>
      <p class="mb-0">
        <span>{{'component.quiz_summary.tags' | translate}}:&nbsp;</span>
        <span *ngIf="!question?.tags?.length">{{'component.quiz_manager.no-added-tags' | translate}}</span>
        <span *ngFor="let tag of question?.tags; let lastElem = last">{{tag}}<span *ngIf="!lastElem">, </span></span>
      </p>
    </div>
    <div class="mb-2 answers">
      <div>
        <h4><span [innerHTML]="'component.quiz_summary.answer' | translate"></span>:&nbsp;</h4>
      </div>
      <div role="list">
        <div *ngIf="question?.TYPE === 'RangedQuestion'">
          <p role="listitem"
             class="mb-0">
            <span [innerHTML]="'component.answeroptions.ranged_question.correct_value' | translate"></span>:&nbsp;
            <span [innerHTML]="toString(getQuestionAsRanged(question)?.correctValue)"></span>
          </p>
          <p role="listitem"
             class="mb-0">
            <span [innerHTML]="'component.answeroptions.ranged_question.min_range' | translate"></span>:&nbsp;
            <span [innerHTML]="toString(getQuestionAsRanged(question)?.rangeMin)"></span>
          </p>
          <p role="listitem"
             class="mb-0">
            <span [innerHTML]="'component.answeroptions.ranged_question.max_range' | translate"></span>:&nbsp;
            <span [innerHTML]="toString(getQuestionAsRanged(question)?.rangeMax)"></span>
          </p>
        </div>
        <div *ngIf="question?.TYPE === 'FreeTextQuestion'">
          <p *ngIf="question?.answerOptionList[0]?.answerText"
             class="mb-0"
             role="listitem"
             [innerHTML]="question?.answerOptionList[0]?.answerText"></p>
          <p *ngIf="!question?.answerOptionList[0]?.answerText"
             class="mb-0"
             role="listitem">
            {{'component.quiz_summary.validation_errors.reasons.empty_question_text' | translate}}
          </p>
        </div>
        <div *ngIf="!['RangedQuestion', 'FreeTextQuestion'].includes(question?.TYPE)">
          <p *ngFor="let answer of question?.answerOptionList; let i = index;"
             class="mb-0"
             role="listitem">
            <span>{{'component.quiz_summary.answer' | translate}}&nbsp;{{i+1}}</span>
            <span *ngIf="!['SurveyQuestion', 'ABCDSingleChoiceQuestion'].includes(question?.TYPE)">
              <span *ngIf="answer.isCorrect">&nbsp;({{'component.quiz_summary.correct' | translate}})</span>
              <span *ngIf="!answer.isCorrect">&nbsp;({{'component.quiz_summary.wrong' | translate}})</span>
            </span>
            <span>:&nbsp;</span>
            <span *ngIf="answer.answerText"
                  [innerHTML]="answer.answerText"></span>
            <span *ngIf="!answer.answerText">{{'component.quiz_summary.validation_errors.reasons.empty_question_text' | translate}}</span>
          </p>
          <p *ngIf="!question?.answerOptionList.length"
             class="mb-0">
            {{'component.quiz_summary.validation_errors.reasons.no_answers_defined' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="question?.TYPE === 'FreeTextQuestion'"
         class="mb-2 answers">
      <h4>{{'component.quiz_summary.answer_configuration' | translate}}:&nbsp;</h4>
      <p *ngFor="let config of getAnswerAsFreetext(question?.answerOptionList[0])?.getConfig()"
         class="mb-0">
        <span>{{config.configTitle | translate}}</span>:&nbsp;
        <span>{{config.configEnabledString | translate}}</span>
      </p>
    </div>
    <div class="mb-2 timer">
      <h4>{{'component.quiz_summary.timer' | translate}}:</h4>
      <p *ngIf="question?.timer">{{question?.timer}}&nbsp;{{ 'component.timer.second' | translate:{COUNT: question?.timer} }}</p>
      <p *ngIf="!question?.timer">{{ 'component.quiz_summary.no-timer' | translate }}</p>
    </div>
    <div class="mb-2 validation">
      <h4 class="bg-light p-2 rounded text-center">
        <span class="text-success"
              *ngIf="question?.isValid() && !(showSaveQuizButton && !question?.tags?.length)">{{'component.quiz_summary.question_successful' | translate}}</span>
        <span class="text-danger"
              *ngIf="!question?.isValid() || (showSaveQuizButton && !question?.tags?.length)">{{'component.quiz_summary.question_failed' | translate}}</span>
      </h4>
      <ul *ngIf="!question?.isValid() || (showSaveQuizButton && !question.tags?.length)"
          id="quizSummaryValidationErrors"
          [attr.data-intro]="'component.quiz_summary.description.validation_errors' | translate"
          [attr.aria-label]="'component.quiz_summary.description.validation_errors' | translate">
        <li *ngFor="let validationError of question?.getValidationStackTrace()">
          <span *ngIf="validationError.occurredAt?.type === 'question'">{{'component.quiz_summary.validation_errors.types.question' | translate}}:&nbsp;</span>
          <span *ngIf="validationError.occurredAt?.type === 'answerOption'">{{'component.quiz_summary.validation_errors.types.answerOption' | translate}}:&nbsp;</span>
          <span>{{validationError.reason | translate}}</span>
        </li>
        <li *ngIf="showSaveQuizButton && !question?.tags?.length">{{'component.quiz_summary.validation_errors.reasons.empty-question-tags' | translate}}</li>
      </ul>
    </div>
  </div>
</div>
