<div class="modal-header">
  <h5 class="mb-0">{{'plugins.splashscreen.return_to_lobby.title' | translate}}</h5>
</div>
<div class="modal-body white-space-pre-wrap">
  <p class="mb-0">{{'plugins.splashscreen.return_to_lobby.text' | translate}}</p>
</div>
<div class="modal-footer">
  <button (click)="abort()"
          class="btn btn-secondary">{{'global.abort' | translate}}</button>
  <button (click)="export()"
          class="btn btn-secondary">
    <fa-icon [icon]="'download'"></fa-icon>
    {{'component.name_management.export.title' | translate}}</button>
  <button (click)="confirm()"
          class="btn btn-danger ml-auto">{{'plugins.splashscreen.return_to_lobby.continue' | translate}}</button>
</div>
