<div class="row">
  <div [attr.aria-label]="'plugins.markdown_bar.info_content' | translate"
       [attr.data-intro]="'plugins.markdown_bar.info_content' | translate"
       class="col-12 col-md-6">
    <app-markdown-bar (connectorEmitter)="connector($event)"></app-markdown-bar>
    <textarea #questionText
              (keyup)="fireEvent($event)"
              [attr.aria-label]="'component.questions.enter_question_here' | translate"
              [placeholder]="'component.questions.enter_question_here' | translate"
              [title]="'component.questions.enter_question_here' | translate"
              class="question-text-box d-block w-100 rounded my-2 mb-md-0 p-2 border-0 no-outline"
              id="questionText">
    </textarea>
  </div>
  <div class="col-12 col-md-6">
    <div class="d-flex justify-content-center mt-5 mt-md-0">
      <app-live-preview
        [targetDevice]="DEVICE_TYPE.XS"
        [targetEnvironment]="ENVIRONMENT_TYPE.QUESTION"></app-live-preview>
    </div>
  </div>
</div>
