@import "prebuild";

.nickCategory {

  &.disabled {
    .nickCategoryText {
      background: #d0d0d0;
      cursor: not-allowed;
    }
  }
}

.selectedNickName {
  .nickName:before {
    content: "\2714";
    margin-right: 0.5rem;
  }
}

.selectedCategory {
  text-decoration: underline;
  @include media-breakpoint-up(md) {
    &:after {
      content: ' ';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid white;
      border-bottom: 10px solid transparent;
      right: -15px;
      top: 35%;
      position: absolute;
    }
  }
}

.nickStyle {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
