<div [class.d-md-block]="!isLoading || (twitterService.showTwitter | async)"
     [class.d-none]="isLoading || (twitterService.showTwitter | async)">
  <div class="px-1 px-sm-4">
    <app-header></app-header>
  </div>

  <div class="d-flex flex-column flex-md-row">
    <div>
      <div class="footer-bar-wrapper flex-grow-0 flex-shrink-0 p-0 w-100">
        <app-footer-bar></app-footer-bar>
        <ng-container *ngIf="isInQuizManager">
          <app-additional-data></app-additional-data>
        </ng-container>
      </div>
    </div>

    <main class="container pb-4">
      <router-outlet>
      </router-outlet>
    </main>
  </div>
</div>

<div *ngIf="twitterService.twitterEnabled && twitterService.getOptIn()"
     [class.flex-column]="twitterService.showTwitter | async"
     [class.position-absolute]="!(twitterService.showTwitter | async)"
     [class.position-fixed]="twitterService.showTwitter | async"
     class="d-flex flex-md-row tweet-container">
  <fa-icon (click)="toggleTweetsOpened()"
           [class.d-flex]="!(twitterService.showTwitter | async)"
           [class.d-md-flex]="twitterService.showTwitter | async"
           [class.d-none]="twitterService.showTwitter | async"
           [class.tweets-closed-state]="!(twitterService.showTwitter | async)"
           [class.tweets-opened-state]="twitterService.showTwitter | async"
           [icon]="['fab', 'twitter']"
           class="color-twitter tweet-opener bg-secondary justify-content-center align-items-center cursor-pointer mt-md-2"></fa-icon>

  <div [class.d-none]="!(twitterService.showTwitter | async)"
       class="bg-secondary">
    <button (click)="toggleTweetsOpened()"
            aria-label="Close"
            class="close cursor-pointer d-md-none w-100"
            data-dismiss="modal"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <app-twitter-cards *ngIf="twitterService.showTwitter | async"
                     class="px-1 bg-secondary tweet-cards-container overflow-auto"></app-twitter-cards>
</div>

<div [class.d-none]="!isLoading"
     id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
