<div class="row">
  <div class="col-12">
    <button (click)="showAddUserModal()"
            class="btn btn-light">
      Add User
    </button>
  </div>

  <div *ngFor="let user of data"
       class="col-12">
    <div class="card my-3 text-dark">
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <fa-icon *ngIf="isDeletingElem(user)"
                   [icon]="'spinner'"
                   [spin]="true"></fa-icon>
          <div *ngIf="!isDeletingElem(user)"
               class="d-flex">
            <fa-icon (click)="deleteElem(user)"
                     [icon]="'times'"
                     class="cursor-pointer"></fa-icon>
            <fa-icon (click)="editElem(user)"
                     [icon]="'edit'"
                     class="cursor-pointer ml-3"></fa-icon>
          </div>
        </div>
        <p class="card-text mb-0">Username: {{user.name}}</p>
        <p class="card-text mb-0">
          <span>Gitlab Token:&nbsp;</span>
          <span *ngIf="!user.gitlabToken">No Gitlab access token set</span>
          <span>{{user.gitlabToken}}</span>
        </p>
        <p class="card-text mb-0">
          <span>Password-Hash:</span><br/>
          <span>{{user.passwordHash}}</span>
        </p>
        <p *ngIf="user.privateKey"
           class="card-text mb-0">
          <span>Private Key:</span><br/>
          <span>{{user.privateKey}}</span>
        </p>
        <p class="card-text mb-0">User Authorizations:</p>
        <ul>
          <li *ngFor="let auth of user.userAuthorizations">{{auth}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>