.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

//noinspection CssOverwrittenProperties
.cursor-zoom-in {
  cursor: pointer !important; /* IE fallback */
  cursor: zoom-in !important;
}

@mixin placeholder-align-center {
  text-align: center;
  padding: 1.5rem 0;
  line-height: 1;
}

.placeholder-align-center {

  &::-webkit-input-placeholder {
    @include placeholder-align-center;
  }

  &:-moz-placeholder {
    @include placeholder-align-center;
  }

  &::-moz-placeholder {
    @include placeholder-align-center;
  }

  &:-ms-input-placeholder {
    @include placeholder-align-center;
  }
}

fa-icon {
  &.cursor-pointer {
    &:hover {
      color: lighten(#000, 50%)
    }

    &:active {
      color: lighten(#000, 40%)
    }
  }
}

.card.cursor-pointer {
  &:hover {
    .card-img-top {
      color: lighten(#0a5561, 5%)
    }
  }

  &:active {
    .card-img-top {
      color: lighten(#0a5561, 6%)
    }
  }
}

.break-word {
  word-break: break-word;
}

.text-bold {
  font-weight: bold;
}

.text-hyphen {
  hyphens: auto;
}

.center-top {
  height: 40vh;
  align-content: center;
  align-items: center;
}

.center-vertical {
  height: 80vh;
  align-content: center;
  align-items: center;
}

button:disabled {
  cursor: not-allowed !important;
}

.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px;
}
