<div [class.center-vertical]="!sessions.length"
     class="d-flex flex-column justify-content-center">
  <h2 *ngIf="!sessions.length"
      class="text-center">{{'component.name_management.no_sessions' | translate}}</h2>

  <h5 *ngIf="publicQuizAmount > 0"
      [class.mt-5]="!sessions.length"
      [class.pt-5]="!sessions.length"
      class="text-center mb-5 pb-5">
    <a [routerLink]="['/quiz', 'public']">{{'component.name_management.public-quizzes' | translate:{amount: publicQuizAmount} }}</a>
  </h5>
</div>

<div class="row">
  <div *ngFor="let elem of sessions; let i = index"
       class="col-12 col-lg-6">
    <div class="card mb-3 p-0">

      <div class="card-header">
        <h6 class="mb-0">{{elem.name}}</h6>
      </div>

      <div class="card-body text-break">
        <p class="card-text">
          <span *ngIf="elem.isValid()"
                class="text-success">
            {{'component.quiz_summary.question_group_successful' | translate}}
          </span>
          <span *ngIf="!elem.isValid()"
                class="text-danger">
            {{'component.quiz_summary.question_group_failed' | translate}}
          </span>
        </p>
      </div>

      <div class="card-footer">

        <div class="d-flex">
          <ng-container *ngIf="elem.isValid() && connectionService.serverAvailable">

            <button (click)="saveQuiz(i)"
                    *ngIf="isAuthorizedToSaveQuiz() && isAuthorizedToModifyQuiz()"
                    [ngbTooltip]="'component.name_management.save_session.title' | translate"
                    class="btn btn-outline-invers btn-block mt-0 mr-2 d-flex justify-content-center">
              <fa-icon *ngIf="isSaved(i)"
                       [icon]="'check'"></fa-icon>
              <fa-icon *ngIf="!isSaved(i)"
                       [icon]="'save'"></fa-icon>
            </button>

            <button (click)="startQuiz(elem)"
                    [ngbTooltip]="'component.name_management.start_session.title' | translate"
                    class="btn btn-outline-success btn-block mt-0 mr-2 d-flex justify-content-center">
              <fa-icon [icon]="isStartingQuiz === elem ? 'spinner' : 'paper-plane'"
                       [spin]="isStartingQuiz === elem"></fa-icon>
            </button>

          </ng-container>

          <button (click)="editQuiz(i)"
                  *ngIf="isAuthorizedToModifyQuiz()"
                  [ngbTooltip]="'component.name_management.edit_session.title' | translate"
                  class="btn btn-outline-warning btn-block mt-0 mr-2 d-flex justify-content-center">
            <fa-icon [icon]="'edit'"></fa-icon>
          </button>

          <button (click)="exportQuiz(i)"
                  *ngIf="isAuthorizedToModifyQuiz()"
                  [ngbTooltip]="'component.name_management.export.title' | translate"
                  class="btn btn-outline-primary btn-block mt-0 mr-2 d-flex justify-content-center">
            <fa-icon [icon]="'download'"></fa-icon>
          </button>

          <button (click)="deleteQuiz(elem)"
                  [disabled]="!connectionService.serverAvailable"
                  [ngbTooltip]="'component.name_management.delete_session.title' | translate"
                  class="btn btn-outline-danger btn-block mt-0 d-flex justify-content-center">
            <fa-icon [icon]="isDeletingQuiz === elem ? 'spinner' : 'trash'"
                     [spin]="isDeletingQuiz === elem"></fa-icon>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
