<div class="modal-header">
  <h5 class="modal-title">{{'component.liveResults.bonus-token.title' | translate}}</h5>
  <button (click)="close()"
          aria-label="Close"
          class="close cursor-pointer"
          data-dismiss="modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{'component.liveResults.bonus-token.your-bonus-token' | translate}}</p>
  <p class="break-word">{{bonusToken}}</p>
  <p>{{'component.liveResults.bonus-token.send-to-teacher' | translate}}</p>
</div>
<div class="modal-footer">
  <button (click)="copy()"
          [attr.aria-label]="'global.copy-to-clipboard' | translate"
          [class.btn-primary]="clipboardText"
          [class.btn-success]="!clipboardText"
          [disabled]="!clipboardText"
          class="btn"
          type="button">
    <span *ngIf="clipboardText">{{'global.copy-to-clipboard' | translate}}</span>
    <span *ngIf="!clipboardText">{{'global.copied' | translate}}</span>
  </button>
  <a href="{{'component.liveResults.bonus-token.mail' | translate:{token: bonusToken, quizname: quizname, date: date} }}"
     target="_blank">
    <button [attr.aria-label]="'global.mail-to' | translate"
            class="btn btn-primary">
      <span>{{'global.mail-to' | translate}}</span>
    </button>
  </a>
</div>
