<ng-container *ngIf="question">
  <ng-container *ngIf="[questionType.RangedQuestion, questionType.FreeTextQuestion].includes(question.TYPE); else defaultFallback">
    <ng-container *ngIf="question.TYPE === questionType.RangedQuestion">
      <app-answeroptions-ranged></app-answeroptions-ranged>
    </ng-container>
    <ng-container *ngIf="question.TYPE === questionType.FreeTextQuestion">
      <app-answeroptions-freetext></app-answeroptions-freetext>
    </ng-container>
  </ng-container>

  <ng-template #defaultFallback>
    <app-answeroptions-default></app-answeroptions-default>
  </ng-template>
</ng-container>

<!-- Live preview -->
