<div class="row">
  <ng-container *ngIf="attendeeService.getMemberGroups()?.length === 1; else attendeesByGroup">
    <ng-container *ngIf="!attendeeService.attendees.length">
      <div class="col-12">
        <h3 class="text-center center-top d-flex align-self-center justify-content-center">{{'component.lobby.waiting_for_players' | translate}}</h3>
      </div>
    </ng-container>
    <div *ngFor="let elem of attendeeService.attendees"
         class="my-1 col-sm-4 col-md-3">
      <div (click)="openKickMemberModal(removeMemberModal, elem.name)"
           [class.cursor-pointer]="quizService.isOwner"
           [class.own-nick]="attendeeService.isOwnNick(elem.name)"
           [id]="elem.id"
           [style.background-color]="'#' + sanitizeHTML(elem.colorCode)"
           [style.color]="'#' + sanitizeHTML(transformForegroundColor(hexToRgb(elem.colorCode)))"
           class="member-wrapper rounded h-100 d-flex align-items-center justify-content-center">
        <p class="mb-0 p-2 break-word">
          <span *ngIf="isHtmlNickname(elem.name)"
                [innerHTML]="parseNickname(elem.name)"></span>
          <span *ngIf="!isHtmlNickname(elem.name)">{{elem.name}}</span>
        </p>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="quizService.isOwner && quizService.quiz?.sessionConfig?.music.enabled.lobby">
  <app-audio-player [autostart]="true"
                    [original_volume]="quizService.quiz.sessionConfig.music.volumeConfig.useGlobalVolume ? toString(quizService.quiz.sessionConfig.music.volumeConfig.global) : toString(quizService.quiz.sessionConfig.music.volumeConfig.lobby)"
                    [src]="quizService.quiz.sessionConfig.music.titleConfig.lobby"
                    [target]="'lobby'"></app-audio-player>
</ng-container>

<ng-template #attendeesByGroup>
  <div *ngFor="let group of attendeeService.getMemberGroups()"
       class="col-12 col-sm-6">
    <div class="pb-4">
      <h4>Team {{group}}</h4>
      <ng-container *ngIf="!attendeeService.getMembersOfGroup(group).length">
        <span class="attendee-text">{{'component.lobby.waiting_for_players' | translate}}</span>
      </ng-container>
      <div (click)="openKickMemberModal(removeMemberModal, elem.name)"
           *ngFor="let elem of attendeeService.getMembersOfGroup(group)"
           [class.cursor-pointer]="quizService.isOwner"
           class="d-inline-flex mw-100 mr-3">
        <fa-icon [class.own-nick]="attendeeService.isOwnNick(elem.name)"
                 [icon]="'users'"
                 [id]="elem.id"
                 [style.background-color]="'#' + sanitizeHTML(transformForegroundColor(hexToRgb(elem.colorCode)))"
                 [style.color]="'#' + sanitizeHTML(elem.colorCode)"
                 class="member-wrapper rounded px-1 py-1 fa-2x">>
        </fa-icon>
        <p class="ml-2 attendee-text text-truncate mb-0 align-self-center">
          <span *ngIf="isHtmlNickname(elem.name)"
                [innerHTML]="parseNickname(elem.name)"></span>
          <span *ngIf="!isHtmlNickname(elem.name)">{{elem.name}}</span>
        </p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #removeMemberModal
             let-c="close"
             let-d="dismiss">
  <div class="modal-header">
    <button (click)="d()"
            aria-label="Close"
            class="close cursor-pointer"
            data-dismiss="modal"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <p class="d-inline-flex">
      <span *ngIf="isHtmlNickname(nickToRemove)"
            [innerHTML]="'component.lobby.kick_member_confirmation' | translate:{NAME: parseNickname(nickToRemove)}"></span>
      <span *ngIf="!isHtmlNickname(nickToRemove)">{{'component.lobby.kick_member_confirmation' | translate:{NAME: nickToRemove} }}</span>
    </p>
  </div>

  <div class="modal-footer">
    <button (click)="kickMember(nickToRemove)"
            class="btn btn-danger mr-auto"
            data-dismiss="modal"
            type="button">{{'global.yes' | translate}}</button>

    <button (click)="d()"
            class="btn btn-info"
            data-dismiss="modal"
            type="button">{{'global.no' | translate}}</button>

  </div>
</ng-template>
