<div class="quizSummary mt-3 mt-sm-0 mt-md-3 px-md-0 mb-3"
     id="quizSummaryHeader">

  <div class="row no-gutters">

    <div class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0 d-flex d-md-block">
      <div [attr.aria-label]="'component.quiz_summary.description.header' | translate"
           [attr.data-intro]="'component.quiz_summary.description.header' | translate"
           class="element-wrapper d-flex flex-column bg-white text-dark px-2 py-2 mb-2 flex-grow-1 mw-100">
        <h5 class="text-center">{{'component.quiz_summary.quiz_name' | translate}}</h5>
        <p class="mb-0 d-flex align-self-center align-items-end text-bold text-center"
           role="listitem">
          <span>{{quizService.quiz?.name}}</span>
        </p>
      </div>
    </div>

    <div class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0 d-flex d-md-block">
      <div [attr.aria-label]="'component.quiz_summary.description.question_group_validation' | translate"
           [attr.data-intro]="'component.quiz_summary.description.question_group_validation' | translate"
           class="element-wrapper d-flex flex-column bg-white text-dark px-2 py-2 mb-2 flex-grow-1 mw-100">
        <h5 class="text-center">{{'component.quiz_summary.validation_question_group' | translate}}</h5>
        <p class="mb-0 d-flex align-self-center align-items-end text-bold text-center"
           role="listitem">
          <span *ngIf="quizService.quiz?.isValid()"
                class="text-success">
            {{'component.quiz_summary.question_group_successful' | translate}}
          </span>
          <span *ngIf="!quizService.quiz?.isValid()"
                class="text-danger">
            {{'component.quiz_summary.question_group_failed' | translate}}
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="isShowingMore"
         class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0 d-flex d-md-block">
      <div [attr.aria-label]="'component.quiz_summary.description.session_url' | translate"
           [attr.data-intro]="'component.quiz_summary.description.session_url' | translate"
           class="element-wrapper bg-white text-dark px-2 py-2 mb-2 flex-grow-1 mw-100">
        <h5 class="text-center">{{'component.quiz_summary.quiz_url' | translate}}</h5>
        <p class="mb-0 text-wrap"
           role="listitem">
          <span>{{getQuizUrl(quizService.quiz?.name)}}</span>
        </p>
      </div>
    </div>

    <div *ngIf="quizService.quiz?.sessionConfig.nicks.selectedNicks.length === 0 && isShowingMore"
         class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0 d-flex d-md-block">
      <div class="element-wrapper bg-white text-dark px-2 py-2 mb-2 flex-grow-1 mw-100">
        <h5 class="text-center text-hyphenate">{{'component.quiz_summary.isRestrictingRudeNicks' | translate}}</h5>
        <p class="mb-0 text-center"
           role="listitem">
          <span *ngIf="quizService.quiz?.sessionConfig.nicks.blockIllegalNicks">
            {{'global.yes' | translate}}
          </span>
          <span *ngIf="!quizService.quiz?.sessionConfig.nicks.blockIllegalNicks">
            {{'global.no' | translate}}
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="isShowingMore"
         class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0 d-flex d-md-block">
      <div [attr.aria-label]="'component.quiz_summary.description.restrict_to_cas' | translate"
           [attr.data-intro]="'component.quiz_summary.description.restrict_to_cas' | translate"
           class="element-wrapper bg-white text-dark px-2 py-2 mb-2 flex-grow-1 mw-100">
        <h5 class="text-center">{{'component.quiz_summary.isRestrictingToCAS' | translate}}</h5>
        <p class="mb-0 text-center text-hyphenate"
           role="listitem">
          <span *ngIf="quizService.quiz?.sessionConfig.nicks.restrictToCasLogin">
            {{'global.yes' | translate}}
          </span>
          <span *ngIf="!quizService.quiz?.sessionConfig.nicks.restrictToCasLogin">
            {{'global.no' | translate}}
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="isShowingMore"
         [class.col-12]="quizService.quiz?.sessionConfig.nicks.selectedNicks.length > 0"
         [class.col-6]="quizService.quiz?.sessionConfig.nicks.selectedNicks.length === 0"
         [class.col-md-12]="quizService.quiz?.sessionConfig.nicks.selectedNicks.length === 0"
         class="mt-sm-2 mb-2 mb-sm-0 px-0 d-flex d-md-block">
      <div class="element-wrapper bg-white text-dark px-2 py-2 mb-2 flex-grow-1 mw-100">
        <h5 class="text-center">{{'component.quiz_summary.selected_nicks' | translate}}</h5>

        <p *ngIf="!quizService.quiz?.sessionConfig.nicks.selectedNicks.length"
           class="mb-0 text-center">
          {{'component.quiz_summary.no_selected_nicks' | translate}}
        </p>
        <p *ngIf="quizService.quiz?.sessionConfig.nicks.selectedNicks.length"
           class="mb-0">
          {{'component.quiz_summary.selected_nicks' | translate}}&#58;&nbsp;{{quizService.quiz?.sessionConfig.nicks.selectedNicks.length}}
        </p>

        <p [innerHTML]="quizService.quiz?.sessionConfig.nicks.selectedNicks.join(', ')"
           class="mb-0">
        </p>
      </div>
    </div>

    <button (click)="switchShowMoreOrLess()"
            class="btn btn-block btn-light d-md-none mt-sm-2">
      <span *ngIf="isShowingMore">{{'component.quiz_manager.show_less' | translate}}</span>
      <span *ngIf="!isShowingMore">{{'component.quiz_manager.show_more' | translate}}</span>
    </button>
  </div>
</div>
