@import "prebuild";

#quizSummaryHeader {

  @include media-breakpoint-down(sm) {
    max-width: 540px;
    margin: auto;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    opacity: 0.95;
    max-width: 20vw;
  }

  @include media-breakpoint-down(sm) {
    > div > div {
      &:nth-child(2n) {
        padding-left: map_get($spacers, 1);
      }

      &:nth-child(2n + 1) {
        padding-right: map_get($spacers, 1);
      }
    }
  }

  .element-wrapper {
    @include media-breakpoint-only(sm) {
      @include border-radius;
    }
    @include media-breakpoint-up(md) {
      @include border-right-radius($border-radius);
    }
  }

  span {
    word-wrap: break-word;
  }
}
