<div class="my-2">

  <div *ngIf="base"
       class="d-flex justify-content-between">
    <span class="text-truncate mx-2">
      <span>{{normalizedAnswerIndex}}</span>
      <span *ngIf="label">:&nbsp;<span [innerHTML]="sanitizeHTML(label)"></span></span>
    </span>
    <span class="mr-2">{{percent}}&nbsp;|&nbsp;{{absolute}}&nbsp;/&nbsp;{{base}}</span>
  </div>

  <div class="progress">

    <div *ngIf="base && percent"
         [attr.aria-valuenow]="percent"
         [class]="('progress-bar overflow-visible bg-' + progressbarCssClass + ' ' + ('box-shadow-' + progressbarCssClass))"
         [style.width]="sanitizeStyle(percent)"
         aria-valuemax="100"
         aria-valuemin="0"
         role="progressbar">
    </div>

    <div *ngIf="!base"
         class="w-100 d-flex align-items-center justify-content-center">
      <fa-icon [icon]="'spinner'"
               [spin]="true"></fa-icon>
    </div>
  </div>

</div>
