<div class="row">
  <div class="col-12">
    <h4>{{'component.membergroup-manager.title' | translate}}</h4>

    <div class="row">
      <div class="col-12 col-sm-5">
        <form>
          <div class="form-group">
            <label for="max-users-per-group">{{'component.membergroup-manager.max-users' | translate}}</label>
            <input type="number"
                   class="form-control"
                   id="max-users-per-group"
                   [placeholder]="'component.membergroup-manager.max-users' | translate"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="maxMembersPerGroup"/>

          </div>
        </form>
      </div>

      <div class="col-12 col-sm-7 mb-2">
        <label class="d-block">{{'component.membergroup-manager.autojoin-to-team' | translate}}</label>
        <label class="btn cursor-pointer mb-0"
               [class.btn-success]="autoJoinToGroup"
               [class.btn-danger]="!autoJoinToGroup">
          <input type="checkbox"
                 class="d-none"
                 [attr.aria-label]="'component.answeroptions.description.is_correct' | translate"
                 autocomplete="off"
                 role="switch"
                 [(ngModel)]="autoJoinToGroup"
                 [title]="'component.answeroptions.is_correct' | translate">
          <span *ngIf="autoJoinToGroup">{{'global.yes' | translate}}</span>
          <span *ngIf="!autoJoinToGroup">{{'global.no' | translate}}</span>
        </label>
      </div>
    </div>

    <div class="input-group input-group-sm">
      <input type="text"
             class="form-control mb-2 mb-sm-0"
             [placeholder]="'component.membergroup-manager.create-team-placeholder' | translate"
             (keyup.enter)="addMemberGroup()"
             [(ngModel)]="memberGroupName"
             [attr.aria-label]="'component.membergroup-manager.create-team-placeholder' | translate"
             aria-describedby="add-member-group">

      <div class="input-group-append">
        <button class="btn btn-success"
                id="add-member-group"
                (click)="addMemberGroup()"
                [class.disabled]="memberGroups.indexOf(memberGroupName) > -1 || !memberGroupName.length"
                [disabled]="memberGroups.indexOf(memberGroupName) > -1 || !memberGroupName.length">
          <span>{{'component.membergroup-manager.create-team' | translate}}</span>
        </button>
      </div>
    </div>

    <h6 class="mt-3">{{'component.membergroup-manager.current-teams' | translate}}</h6>

    <p *ngIf="!memberGroups.length">{{'component.membergroup-manager.no-current-teams' | translate}}</p>

    <ul *ngFor="let group of memberGroups"
        class="list-unstyled">
      <li class="border-bottom p-2">
        <span>{{group}}</span>
        <span class="pointer float-right"
              (click)="removeMemberGroup(group)">
      <fa-icon [icon]="'trash'"></fa-icon>
        </span>
      </li>
    </ul>
  </div>
</div>