@import "prebuild";

.input-group {
  .form-control {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  @include media-breakpoint-only(xs) {
    .input-group-append {
      width: 100%;
    }

    button,
    input[type="text"],
    input[type="password"] {
      border-radius: 0.25rem;
      width: 100%;
    }
  }
}